@import "tailwindcss";

@theme {
  --color-brand-red: #cf0f0f;
  --color-brand-orange: #f79a19;
  --color-brand-yellow: #bbcb64;
  --color-brand-olive: #282828;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-sans: var(--font-plus-jakarta), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-recoleta), ui-serif, Georgia, serif;
}

:root {
  --background: #ffffff;
  --foreground: #282828; /* Brand Olive for text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
